<div class="container">
    <div class="row">
      <div class="col-sm" *ngFor="let album of albums | async">
          
        <div class="card" style="width: 18rem;">
          <img src="{{album.image}}" class="card-img-top" alt="{{album.titre}}">
          <div class="card-body">
            <h5 class="card-title">{{album.titre}}</h5>
            <p class="card-text">Artiste : {{album.artiste}}</p>
            <p class="card-text">Année : {{album.annee}}</p>
            <p class="card-text">Piste : {{album.piste}}</p>
            <p class="card-text">Genre : {{album.genre}}</p>
            <button type="button" class="btn btn-primary" (click)="EnleverDuPanier(album)">Enlever du panier</button>
          </div>
        </div>
            
      </div>
    </div>
  </div>
