<table class="table" *ngFor="let utilisateur of utilisateurs | async">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Récapitulatif</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Nom</th>
      <td>{{ utilisateur.nom }}</td>
    </tr>
    <tr>
      <th scope="row">Prénom</th>
      <td>{{ utilisateur.prenom }}</td>
    </tr>
    <tr>
      <th scope="row">Civilite</th>
      <td>{{ utilisateur.civilite }}</td>
    </tr>
    <tr>
      <th scope="row">Adresse</th>
      <td>{{ utilisateur.adresse }}</td>
    </tr>
    <tr>
      <th scope="row">Ville</th>
      <td>{{ utilisateur.ville }}</td>
    </tr>
    <tr>
      <th scope="row">Code postal</th>
      <td>{{ utilisateur.codePostal }}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{ utilisateur.email }}</td>
    </tr>
    <tr>
      <th scope="row">Téléphone</th>
      <td>{{ utilisateur.telephone }}</td>
    </tr>
    <tr>
      <th scope="row">Nom de compte</th>
      <td>{{ utilisateur.nomDeCompte }}</td>
    </tr>
  </tbody>
</table>
