<form class="row justify-content-center">
      <input class="form-control col-5" type="search" placeholder="Titre, Artiste, Année, ..." aria-label="Search" [(ngModel)]="barreRecherche" name="barreRecherche">
    </form>
<app-produit [barreRecherche]="barreRecherche"></app-produit>