<div class="container login-container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 login-form-1">
            <h3>Connexion</h3>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nom de compte" [(ngModel)]="inputNomDeCompte" id="inputNomDeCompte" name="inputNomDeCompte"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="inputMotDePasse" id="inputMotDePasse" name="inputMotDePasse"/>
                </div>
                <div class="form-group">
                    <button type="button" class="btnSubmit" (click)="onSubmit()">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>
