<div class="container">
  <div class="row">
    <div class="col-sm" *ngFor="let album of albums | async | filtreAlbum:barreRecherche">

      <div class="card" style="width: 18rem;">
        <img src="{{album.image}}" class="card-img-top" alt="{{album.titre}}">
        <div class="card-body">
          <h5 class="card-title">{{album.titre}}</h5>
          <p class="card-text">Artiste : {{album.artiste}}</p>
          <a class="btn btn-primary" [routerLink]="['/Catalogue/Detail', album.id]">Détails</a>
          <button type="button" class="btn btn-primary" (click)="AjouterAuPanier(album)">Ajouter au panier</button>
        </div>
      </div>
      
    </div>
  </div>
</div>





