<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputNom">Nom</label>
      <input type="text" class="form-control shadow-sm" id="inputNom" placeholder="Nom" formControlName="inputNom" name="inputNom" [appError]="TestNom()">
    </div>
    <div class="form-group col-md-5">
      <label for="inputPrenom">Prénom</label>
      <input type="text" class="form-control shadow-sm" id="inputPrenom" placeholder="Prénom" formControlName="inputPrenom" name="inputPrenom" [appError]="TestPrenom()">
    </div>
    <div class="form-group col-md-2">
      <label for="inputCivilite">Civilite</label>
      <select id="inputCivilite" class="form-control shadow-sm" formControlName="inputCivilite" name="inputCivilite" [appError]="TestCivilite()">
        <option value="Mme">Mme</option>
        <option value="Mr">Mr</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAdresse">Adresse</label>
    <input type="text" class="form-control shadow-sm" id="inputAdresse" placeholder="10 rue du Général de Gaule" formControlName="inputAdresse" name="inputAdresse" [appError]="TestAdresse()">
  </div>
  <div class="form-row">
    <div class="form-group col-md-10">
      <label for="inputVille">Ville</label>
      <input type="text" class="form-control shadow-sm" id="inputVille" placeholder="Strasbourg" formControlName="inputVille" name="inputVille" [appError]="TestVille()">
    </div>
    <div class="form-group col-md-2">
      <label for="inputCodePostal">Code postal</label>
      <input type="text" class="form-control shadow-sm" id="inputCodePostal" placeholder="67000" formControlName="inputCodePostal" name="inputCodePostal" [appError]="TestCodePostal()">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control shadow-sm" id="inputEmail" placeholder="adresse@gmail.com" formControlName="inputEmail" name="inputEmail" [appError]="TestEmail()">
    </div>
    <div class="form-group col-md-2">
      <label for="inputTelephone">Téléphone</label>
      <input type="tel" class="form-control shadow-sm" id="inputTelephone" placeholder="+33300000000" formControlName="inputTelephone" name="inputTelephone" [appError]="TestTelephone()">
    </div>
    <div class="form-group col-md-5">
      <label for="inputNomDeCompte">Nom de compte</label>
      <input type="text" class="form-control shadow-sm" id="inputNomDeCompte" placeholder="Mon-Compte" formControlName="inputNomDeCompte" name="inputNomDeCompte" [appError]="TestNomDeCompte()">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputMotDePasse">Mot de passe</label>
      <input type="password" class="form-control shadow-sm" id="inputMotDePasse" formControlName="inputMotDePasse" name="inputMotDePasse" [appError]="TestMotDePasse()">
    </div>
    <div class="form-group col-md-6">
      <label for="inputConfirmation">Confirmation</label>
      <input type="password" class="form-control shadow-sm" id="inputConfirmation" formControlName="inputConfirmation" name="inputConfirmation" [appError]="TestConfirmation()">
    </div>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="!inscriptionForm.valid" (click)="onSubmit()">Envoyer</button>
</form>